body {
	margin: 0px;
	padding: 0px;
	font-family: 'Titillium Web', sans-serif;
}
.profile li {	
	list-style-type: none;
}
.container {
	display: grid;
	grid-template-columns: 1fr;
	box-sizing: border-box;
	background-color: #f8f5f5;
	padding: 0 100px;	
}
.profile {
	display: flex;
	flex-direction: row;
	background-color:white;
	border-radius: 15px;
	text-decoration-style: none;
}
.Dave_photo img {
	display: flex;
	border-radius: 50%;
	width: 150px;
	height: auto;
	padding: 20px 10px 10px 10px;
	vertical-align: center;
	filter: sepia(200%);
}
.personal {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-wrap: wrap;
	width: auto;
	height: auto;
}
.name {
	font-size: 1.2rem;
	font-weight: bold;
}
.learning-journey {
	background-color:white;
	border-radius: 15px;
	padding: 0 20px;
}
.certifications {
	background-color:white;
	border-radius: 15px;	
}
.certifications img {
	width: 350px;
	height: auto;
}
.contact {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: start;
}
input {
	width: 200px;
	height: 25px;
	border-radius: 8px;
	margin-bottom: 10px;
	background-color: #f7f8e1;
}
#feedback {
	height: 60px;
}
#submit {
	width: 207px;
	height: 25px;
	border-radius: 8px;
	background-color: seashell;
}
#submit:hover {
	cursor: grab;
	color: rgb(29, 86, 243);
	transition: color 900ms linear 500ms;
}

@media only screen and (max-width: 600px) {	
	.container {
		background-color: #f8f5f5;
		padding: 10px;	
	}
	.profile {
		display: flex;
	}
	.Dave_photo img {
		border-radius: 50%;
		width: 150px;
		height: auto;
		padding: 10px 5px 10px 5px;
		filter: sepia(200%);
	}
	.personal {
		display: flex;
		flex-direction: column;
	}
	.name {
		font-size: 1.2rem;
		font-weight: bold;
	}
	.learning-journey {
		background-color:white;
		border-radius: 15px;
	}
	.certifications {
		background-color:white;
		border-radius: 15px;
		padding: 5px;
	}
	.certifications img {
		width: 95vw;
		height: auto;
		border: solid 1px orangered;
		padding: 2px;
		background-color: palegreen;
		border-radius: 15px;	
	}	
	.contact {
	
	}
	.cert {
		max-width: 98%;
		height: auto;
	}